<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Access Management System</title>
</head>
<body>
<h1>Doors Management</h1>
<form action="/add-door" method="post">
  <label for="number">Door Number:</label>
  <input type="text" id="number" name="number" required>
  <br>
  <label for="rfid">RFID:</label>
  <input type="text" id="rfid" name="rfid" required>
  <br>
  <button type="submit">Add Door</button>
</form>

<h2>All Doors</h2>
<table border="1">
  <thead>
  <tr>
    <th>Door Number</th>
    <th>RFID</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="door : ${doors}">
    <td th:text="${door.number}"></td>
    <td th:text="${door.rfid}"></td>
    <td>
      <form action="/give-access" method="post" style="display: inline;">
        <input type="hidden" name="id" th:value="${door.id}" />
        <button type="submit">Give Access</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
